<?xml version="1.0"?>
<robot name="red_point">
	<link name="link_red_point">
		<visual>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </visual>
		<inertial>
			<mass value="5.0"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
	</link>
	<gazebo reference="link_red_point">
		<turnGravityOff>true</turnGravityOff>
		<material>
			Gazebo/Red
		</material>
	</gazebo>
</robot>
