<?xml version="1.0"?>
<robot name="red_point">
	<pose>0 0 0 0 0 0</pose>
	<link name="link_red_point">
		<pose>0 0 0 0 0 0</pose>
		<collision name="collision_cylinder">
			<geometry>
				<sphere radius="0.033"/>
			</geometry>
		</collision>
		<visual>
      <geometry>
        <sphere radius="0.033"/>
      </geometry>
    </visual>
		<inertial>
			<mass value="1.0"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
		</inertial>
	</link>
	<gazebo reference="link_red_point">
		<material>
			Gazebo/Red
		</material>
		<!-- <material>
			Gazebo/RedTransparent
		</material> -->
	</gazebo>
</robot>
