<?xml version="1.0"?>
<robot name="float_camera" xmlns:xacro="http://ros.org/wiki/xacro">>

	<xacro:property name="M_PI" value="3.1415926535897931" /> 
	<xacro:property name="camera_size" value="0.05" /> 
	<xacro:property name="video_size" value="2" /> 

	<xacro:macro name="float_video" params="name topic">

		<!-- Video Link-->
		<link name="${name}">
			<collision>
				<geometry>
					<box size="${video_size} ${video_size} 0.05"/>
				</geometry>
			</collision>

			<visual>
				<geometry>
					<box size="${video_size} ${video_size} 0.05"/>
				</geometry>
			</visual>

			<inertial>
				<mass value="1e-5" />
				<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
			</inertial>
		</link>


		<!-- Video -->
		<gazebo reference="${name}">
			<visual>
				<plugin name="video_${name}" filename="libgazebo_ros_video.so">
					<robotNamespace>${name}</robotNamespace>
					<topicName>${topic}</topicName>
					<height>480</height>
					<width>480</width>
				</plugin>
			</visual>
		</gazebo>
	</xacro:macro>

	<xacro:macro name="float_camera" params="name topic">

		<!-- Camera Link-->
		<link name="${name}">
			<collision>
				<geometry>
					<box size="${camera_size} ${camera_size} ${camera_size}"/>
				</geometry>
			</collision>

			<visual>
				<geometry>
					<box size="${camera_size} ${camera_size} ${camera_size}"/>
				</geometry>
			</visual>

			<inertial>
				<mass value="1e-5" />
				<inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
			</inertial>
		</link>

		<!-- Camera -->
		<gazebo reference="${name}">
			<sensor type="camera" name="${name}">
				<update_rate>30.0</update_rate>
				<camera name="${name}">
					<horizontal_fov>${M_PI/2}</horizontal_fov>
					<image>
						<width>640</width>
						<height>480</height>
						<format>R8G8B8</format>
					</image>
					<clip>
						<near>0.01</near>
						<far>100</far>
					</clip>
				</camera>
				<plugin name="camera_controller_${name}" filename="libgazebo_ros_camera.so">
					<alwaysOn>true</alwaysOn>
					<updateRate>0.0</updateRate>
					<cameraName>${name}</cameraName>
					<imageTopicName>${topic}</imageTopicName>
					<cameraInfoTopicName>camera_info</cameraInfoTopicName>
					<frameName>${name}</frameName>
					<hackBaseline>0.07</hackBaseline>
					<distortionK1>0.0</distortionK1>
					<distortionK2>0.0</distortionK2>
					<distortionK3>0.0</distortionK3>
					<distortionT1>0.0</distortionT1>
					<distortionT2>0.0</distortionT2>
				</plugin>
			</sensor>
		</gazebo>
	</xacro:macro>

	<link name="world"/>

	<joint name="float_camera_joint" type="fixed">
		<origin xyz="0 -4 8" rpy="0 ${M_PI/2} 0"/>
		<parent link="world"/>
		<child link="float_camera"/>
	</joint>

	<joint name="float_rgb_video_joint" type="fixed">
		<origin xyz="2.1 -5.7 2" rpy="0 0 ${-M_PI/2}"/>
		<parent link="world"/>
		<child link="float_rgb_video"/>
	</joint>

	<joint name="float_depth_video_joint" type="fixed">
		<origin xyz="2.1 -7.8 2" rpy="0 0 ${-M_PI/2}"/>
		<parent link="world"/>
		<child link="float_depth_video"/>
	</joint>

	<float_camera name="float_camera" topic="image_raw"/>
	<float_video name="float_rgb_video"   topic="/camera/rgb/image_raw"/>
	<float_video name="float_depth_video" topic="/camera/depth/image_raw"/>
	
</robot>